.vertical-mid td{vertical-align: middle !important;} .inline{display: inline-block;}
	
.spoiler a{
 font-size: 20px;
 color: #000000;
 text-decoration: none;
}
 
.spoiler:hover {
     cursor: pointer;
}
 
.spoiler {
     margin: 10px 0;
}

.footer p{font-size: 10px;}

#right_menu {
	position: fixed;
	display: block;
	top: 50px;
	right: 20px;
}

#all_spoilers, #calc_all {
	width: 100%;
}

.btn-default.pull-left {
	position: absolute;
}

.spoiler-wrapper.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn
{
	padding: 5px;
}